:host {
  ion-card-title {
    font-size: 25px;
  }
  ion-card-subtitle {
    font-size: 10px;
  }
  ion-card-content {
    padding-bottom: 0px;
  }
  // ion-refresher.refresher-active {
  //   z-index: 1;
  // }
}
